body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('background_login.gif');
  line-height: 1.5;
  font-weight: 400;
  background-repeat: no-repeat;
  color-scheme: light dark;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-size: 100%;
}

input {
  display: block;
  width: 90%;
  padding: 8px;
  margin: 10px auto;
  border: 1px solid black;
}

button:hover {
  background-color: rgb(186, 16, 201);
}




